[2020-05-19 20:06] mougias opened #41 "Plugin breaks gutenberg for custom post type"
select( 'core/editor' ).getEditedPostAttribute( 'meta' ) will return undefined, for post types that register without support for custom-fields.

[2020-05-20 06:52] pragmatic-web commented on #41
@mougias thanks for the feedback. We can replicate and confirm this is now a known issue.

This issue also affects reusable Gutenberg blocks so it's now a high priority to find a resolution for this.

[2020-05-20 15:54] melissahenderson opened #43 "Categories not saving monetization setting"
To reproduce:

1. Create a new category.
2. Set it to Coil Members Only.
3. Click Add New Category.
4. Edit the category you just made. The setting shows as Use Default.
5. Change the setting and click Update. The setting reverts back to Use Default.

[2020-05-21 13:19] pragmatic-web commented on #43
Currently investigating.

[2020-05-27 16:26] traviscrist opened #44 "Ability to view hidden posts with rdf feeds"
The Wordpress plugin of Coil does not protect the endpoint a hidden content showing in a feed on endpoint feed/rdf

Steps to reproduce
Check the website for various feed format. feed/rdf is not protected
https://coil12345.000webhostapp.com/2020/05/hello-world/feed/rss <- not vulnerable
https://coil12345.000webhostapp.com/2020/05/hello-world/feed/rss2 <- not vulnerable
https://coil12345.000webhosta

[2020-05-28 15:04] leo40leo commented on #41
Any progress on this? Looking forward to taking this plugin for a "ride".

[2020-05-28 18:35] MilindPurswani opened #45 "Self Stored XSS in wordpress plugin"
Hi,

There is a self-stored XSS vulnerability in the Messages section of the vulnerable app when navigated over to using the coil's extension.

POC: https://[REDACTED WEBSITE]/2020/05/demo-post

### Steps to reproduce:

1. Make sure you have coil's extension installed.
2. Navigate to https://[REDACTED WEBSITE]/wp-admin/customize.php?autofocus[panel]=coil_customizer_settings_panel&return=https://[R

[2020-05-28 19:40] melissahenderson opened #46 "Archive/index pages not respecting monetization setting"
The Coil plugin's settings control individual post types, not archives (including a homepage archive known as an index page). This means that content on archive pages is visible to all, regardless of any monetization settings.

1. Create a page and set it to Coil Members Only.
2. Go to Settings > Reading, and notice the "Your homepage displays" option. The default is set to "Your latest posts".
3.

[2020-06-01 07:13] pragmatic-web commented on #41
This issue was fixed by https://github.com/coilhq/coil-wordpress-plugin/pull/42

[2020-06-01 07:13] #41 closed

[2020-06-04 11:05] praghavaji commented on #43
I've picked this up now.

I have a fully configured and working local copy of the plugin and demo site and am getting stuck in.

Just letting y'all know..

[2020-06-08 17:04] melissahenderson opened #49 "Change label and description for "Incorrect browser setup" message in Customizer"
Change label in Customizing > Coil Web Monetization > Messages:

- **From:** Incorrect browser setup message
- **To:** Fully gated content message

Change description for the same message:

- **From:** This message is shown when content is set to be Coil Members Only, and visitor either isn't using a supported browser, or doesn't have the browser extension installed correctly.
- **To:** This messa

[2020-06-08 17:23] melissahenderson opened #50 ""Members Only" box language customization"
Some of the text that appears in the gray "Members Only" box isn't customizable. The text that **can** be customized is part of the "Incorrect browser setup / Fully gated content" message (see GH issue #49). Let me know if you have suggestions for better messaging.

Add the following to Customizing > Coil Web Monetization > Messages:

- **Label:** Fully gated content heading
- **Description:** Thi

[2020-06-08 17:25] melissahenderson opened #51 "Customizable lock icon for Members Only content"
Allow users to select from pre-existing lock icons or upload their own icon so that the icon is consistent with the look and feel of their site.

[2020-06-08 17:37] melissahenderson opened #52 "Customizable "Members Only" box"
Give users more control over the appearance of the gray box that appears on Coil Members Only pages for non-monetized visitors.

Ideas for customization include, but aren't limited to:
- Allowing users to add images to the box
- Changing the color of:
-- the box itself
-- the horizontal rule
-- the text
-- the button fill*
-- the text within the button*

*So long as it doesn't affect how the butto

[2020-06-08 17:48] melissahenderson opened #53 "Research Facebook Instant Articles (IA)/AMP/etc."
Research compatibility of the Coil plugin with Facebook IA, AMP, and other popular accelerated page loading plugins.

[2020-06-08 17:51] melissahenderson opened #54 "Plugin thinks non-monetized visitor is paying"
The plugin can be tricked by a malicious user agent (browser) into thinking that the visitor is paying when they are not.

[2020-06-08 18:00] melissahenderson opened #55 "Block-level settings not showing - duplicate nonce warning"
Block-level Coil Monetization settings not showing. Using a default theme with correct CSS selectors. Disabled all other plugins. The only console message was a warning about a duplicate nonce.

Email with additional details attached to Accelo ticket #1270.

[2020-06-15 12:58] pragmatic-web commented on #51
Assets provided by Fabian @melissahenderson for your triage in due course.

[lock-icon.zip](https://github.com/coilhq/coil-wordpress-plugin/files/4780316/lock-icon.zip)

[2020-06-15 21:12] melissahenderson opened #56 "Add warning when payment pointer field is empty"
If the Payment Pointer field is empty (Coil Settings > Global Settings) and you click Save Changes, the page displays the message "Settings saved". We should include a warning message stating there's no pointer, but still save the configuration.

Unless we can display the message in a different colored panel or include a warning icon, we should preface the message with "Warning".

"Warning: You've

[2020-06-15 21:17] melissahenderson opened #57 "Override global payment pointer per page/post"
Allow the global payment pointer to be overridden on a per-page and per-post basis to support multiple authors.

[2020-06-15 23:39] melissahenderson opened #58 "Remove "Configure the Plugin" button from Getting Started tab"
Remove the "Configure the Plugin" button from the Coil Settings > Getting Started tab.

[2020-06-15 23:51] melissahenderson opened #59 "Update Coil plugin's header"
Currently, the Coil logo appears centered and in a white panel at the top of the plugin settings screens.

We want to update the header to match this:
![updated plugin header](https://user-images.githubusercontent.com/57110301/84716378-c14f3380-af27-11ea-9006-17dc38c859b4.png)

- Left-align
- Remove white panel
- Add new logo (attached) and add "Coil Web Monetization" as text

[coil-icn-32.svg.zip

[2020-06-16 00:05] melissahenderson opened #60 "Receipts for Payment Verification"
Placeholder issue for adding Receipts to plugin.

Previous user feedback: "Hide content with JavaScript rather than CSS". Receipts can be used to verify payments, then show/hide content based on verification.

[2020-06-16 00:13] melissahenderson opened #61 "Research explicit type hinting, explicitly casting to an int to eliminate collisions"
Research removing the explicit type hinting on the $post_id variable in the gating/functions.php, or explicitly cast to an int before calling is_content_monetized() to eliminate possible collisions between the Coil plugin and other plugins.

Background (user feedback): User noticed collisions between the Coil plugin and the Co-Authors Plus plugin and filed a ticket with Co-Auth (https://wordpress.

[2020-06-22 17:09] melissahenderson opened #63 "Can you build a feature to let me remove ads for web monetized users?"
The plugin currently allows content in Gutenberg blocks to be hidden (or shown) for web monetized users. Can you build a feature to let me remove ad scripts for web monetized users?

Example scenario: We're using a modification of the Web Monetization Remove Ads script (https://webmonetization.org/docs/remove-ads). We have multiple ad blocks from different providers and have to manually target bas

[2020-06-24 15:46] pragmatic-web commented on #63
I think we'd want to be very careful here. Without legal advice I couldn't be sure but I'd bet that hiding ads in this way is something that would be in breach of most ad services' Terms of Service. Clearly we wouldn't want the ire of the Google Ads team to be aimed at Coil or any of the plugin's users.

However, I think there are likely cases where hiding ads is NOT against terms of service - and

[2020-06-24 15:49] pragmatic-web opened #65 "Proposed update minimum PHP version support to 7.2"
Current plugin supports PHP 7.1 but this is now EOL: **https://www.php.net/supported-versions.php**

Current WP recommended minimum version is PHP 7.3 but https://wordpress.org/about/stats/ show ~50% sites are still on PHP 7.2/7.3. Bumping minimum version would potentially affect ~9% of Coil plugin users according to those stats.

7.2 feels like a sensible step.

[2020-06-25 14:27] paulgibbs opened #67 "On new install, Donation bar doesn't show."
On new install, the Donation bar doesn't show. I think it should because if you go into the Customiser's Coil settings, the "show donation bar?" option is enabled.

If you make any change to the Customiser Coil settings (e.g. change the text of a message), the "show donation bar?" option is still enabled, but it works as expected on the front-end now.

[2020-06-25 18:36] #43 closed

[2020-06-25 18:36] #67 closed

[2020-07-01 13:28] pragmatic-web opened #70 "Plugin telemetry"
In order to best support Coil plugin users, there's an argument that we should add in some 'telemetry' - a basic phone home that sends diagnostic and usage information back to Coil.

I understand concerns about privacy and Coil's strong stance on this, but I think it can be achieved without compromising that value. There's a good write up on what good practice might look like: https://mor10.com/ca

[2020-07-21 20:16] MattSaincome opened #73 ""Get Access to Coil" Button Broken on Wordpress Plugin Exclusive Content"
https://thehardtimes.net/culture/report-bidens-covid-19-test-results-just-say-dead/

If I don't have a Coil membership, and I go to this article on the site that is Coil locked, I get a message saying it is not available to me.

![image](https://user-images.githubusercontent.com/68615592/88102311-3380ec80-cb54-11ea-9d07-c1e24499e592.png)

But when I click on "Get Coil to access," I get an error.

[2020-07-21 20:23] MattSaincome opened #74 "Coil Exclusive Content Stuck on "Verifying Web Monetization Status""
On https://thehardtimes.net/culture/report-bidens-covid-19-test-results-just-say-dead/ in google chrome

I am a Coil member, trying to view this content which was marked as "Coil Only" via the wordpress plugin, but I get this screen, where it looks like it is hung up on verifying web monetization status.

![Screen Shot 2020-07-21 at 1 17 01 PM](https://user-images.githubusercontent.com/68615592/88

[2020-07-22 07:40] pragmatic-web commented on #73
Thanks @MattSaincome.

It looks like you have two monetization meta tags in the head of your site.

[code]

Are you setting this manually / hard coded as well as through the plugin?

Perhaps unrelated but there are also a ton of warnings and errors in the Chrome console - see below. Propose we resolve the double monetization tag issue as first step.

Dump of Chrome console here:

39A cookie associ

[2020-07-22 07:41] pragmatic-web commented on #74
Suspect this is linked to issue #73

[2020-07-22 18:52] melissahenderson commented on #73
The default URL for the button points to https://coil.com/learn-more/ with a trailing slash, which results in the error. This url DID work at one point, otherwise we would have caught it in all our testing. Temporary fix is to change the URL in the plugin settings to point to https://coil.com/learn-more without the trailing slash. Coil is aware of the issue and is trying to fix it on our end, rath

[2020-07-22 18:53] melissahenderson commented on #74
I wasn't able to duplicate the issue on my end. Suggested clearing browser caches, and if that didn't help, to look into clearing the WP Engine cache, if they use it. WP Engine caching caused a lot of my issues during development. We'll look into this more if that doesn't help.

[2020-07-24 06:29] MattSaincome commented on #73
Great thanks for all the help!

On Wed, Jul 22, 2020 at 11:52 AM Melissa Henderson <notifications@github.com>
wrote:

--

*Matt Saincome*Co-Founder, CEO

[2020-07-27 00:32] claytonhebenik commented on #74
Hi @pragmatic-web & @melissahenderson

I did some more investigating for Matt and was only able to reproduce this issue myself if I was logged in to our site's Wordpress admin while trying to also view the monetized page.

We don't use WP Engine for caching but do serve everything through Cloudflare so I cleared that cache but saw no effect.

[2020-07-27 16:04] traviscrist commented on #46
This needs to be done as a feature, its too much work to be done as part of support work.

[2020-07-27 16:14] traviscrist commented on #74
![Screen Shot 2020-07-27 at 9 12 57 AM](https://user-images.githubusercontent.com/4206970/88565386-5f372300-cfe9-11ea-9a61-1c0e54251a75.png)

@MattSaincome It seems that there are 2 meta tags on the site. If you look at my screenshot it has 3 tags there. There should just be 2 one is the meta and one is the link. Is there a chance that you have an extra meta tag hard coded in the site somewhere wh

[2020-07-27 16:18] MattSaincome commented on #74
Looping in my dev Clayton to check out the multiple meta tag thing.

I actually went through a walk through process to link xrp tipbot to uphold
or something like that. Maybe I did it wrong, or should try again?

On Mon, Jul 27, 2020 at 9:14 AM Travis Crist <notifications@github.com>
wrote:

--

*Matt Saincome*Co-Founder, CEO

[2020-07-27 16:19] melissahenderson commented on #73
We were able to fix the issue on our end. When you go to the URL with or without the slash, the page loads.

[2020-07-27 16:19] #73 closed, assigned to nobody

[2020-07-27 16:29] traviscrist commented on #74
@MattSaincome The linking lets you move your funds from xrp tip bot to uphold easily. You should though make a new payment pointer in uphold and update your sites to use that so that the funds go directly to uphold going forward.

[2020-07-27 16:33] melissahenderson commented on #74
@MattSaincome Log in to the Uphold website, then do the following. You have to act like you're adding funds to find your payment pointer.

1. From the dashboard, select your Interledger card. Whatever it's named, it should already have a balance on it from your XRPTipBot account.
2. Click Add Funds, then select Fund from Interledger Payment Pointer.
3. Copy your payment pointer.

[2020-07-27 20:33] MattSaincome commented on #74
Updated to uphold payment pointer, thank you!

[2020-07-28 00:32] claytonhebenik commented on #74
@traviscrist I removed some code that was causing the second meta tag to appear.

[2020-07-29 06:11] MattSaincome commented on #74
Second meta tag removed, cloud flare caching turned off for Coil Exclusives category tag, still getting load times of 1-2 minutes.
https://thehardtimes.net/coil-exclusives/exclusive-episode-coward-hour-nik-feels-strongly-about-disney/
![Screen Shot 2020-07-28 at 10 54 49 PM](https://user-images.githubusercontent.com/68615592/88763220-a297ab80-d127-11ea-9931-c6ddcf989b59.png)

[2020-07-29 14:50] traviscrist commented on #74
@MattSaincome I think this may have to do with all the ads and such that load on that page. There are soo many external scripts loading. I think one is interfering with the web monetization. If I enable https://www.ghostery.com/ on the page then in chrome it seems to work without issues. My guess is ghostery is blocking an ad which may have a js error or something which is cause the web monetizati

[2020-07-30 04:21] claytonhebenik commented on #74
@traviscrist I did some debugging and I think the issue is being caused by a conflict of some kind with the [Spot.IM](http://spot.im) plugin. Disabling removes a whole bunch of errors in the console and ads being blocked, and the articles load fine without verifying coil status. Not sure what the solution there is but thought I'd pass along the info

[2020-07-30 16:47] traviscrist commented on #74
@claytonhebenik thanks thats very interesting. We can look into what the interaction with that plugin is. Thanks!

[2020-07-31 18:06] melissahenderson opened #75 "Conflict between Spot.IM and Coil plugins"
As a Coil Member, I'm unable to view content marked as Coil Members Only. The page hangs at "Verifying Web Monetization status".

From original report: I did some debugging and I think the issue is being caused by a conflict of some kind with the Spot.IM plugin. Disabling removes a whole bunch of errors in the console and ads being blocked, and the articles load fine without verifying coil status.

[2020-07-31 18:07] #74 closed, assigned to nobody

[2020-07-31 18:08] melissahenderson commented on #74
Issue specific to spot.im and coil plugin conflict created: https://github.com/coilhq/coil-wordpress-plugin/issues/75

[2020-08-04 09:41] cyberdees opened #77 "'Get Coil to Access' button and call-to-action still shown even though I'm a member and the extension is streaming"
<img width="1451" alt="Screen Shot 2020-08-04 at 10 33 13 AM" src="https://user-images.githubusercontent.com/526538/89278526-237e0800-d63e-11ea-9c2b-0ae9556a2b85.png">

In the attachment, from visiting Pittsburgh Unfiltered [https://pghunfiltered.com/] — my expectation that the 'Get Coil to Access' button and CTA is not shown at all, since the browser has already detected that I am a member and am

[2020-08-04 16:48] melissahenderson commented on #77
Hi @cyberdees,

We need some more information in order to troubleshoot.
- What theme are they using? Is it one they created on their own?
- What values are in the CSS Selectors field within the Coil plugin settings (Global Settings tab)?

Just a preliminary look makes me think it's an issue with the CSS Selectors. Setting the field to one of these might help:
- article .entry-content
- article .po

[2020-08-05 09:58] MattSaincome commented on #77
@melissahenderson I started an email thread to get all this info, and will be around to assist however you need with testing and creator communication!

[2020-08-06 08:57] praghavaji commented on #55
This is expected behaviour i think.

The block level configuration setting show only when the document level settings are set to 'Split content'. Which makes sense no?

[2020-08-06 18:56] melissahenderson commented on #55
@pragmatic-web David, thoughts on this?

[2020-08-07 17:39] melissahenderson opened #78 "Characters appearing with escape characters"
While using the WordPress customizer to change a user-facing gating message, I noticed that escape characters are appearing.

![Screen Shot 2020-08-07 at 10 36 38 AM](https://user-images.githubusercontent.com/57110301/89672735-05144880-d89a-11ea-99b7-7f99d11708cd.png)

[2020-08-07 17:40] melissahenderson commented on #78
Hemingway theme is used in the example.

[2020-08-10 17:40] melissahenderson opened #79 "Override WP default of 55 words for teaser text"
Customer feedback:

"if one could define an offset, after how many characters or sentences the monetized wordpress page/article gets blurred/overlayed with the "readable only for  Coil members"-message.In most cases the current position of the message is too short to tease the viewer for the entire article. Could look like this: (faked coil-plugin-screenshot)"

<img width="748" alt="Screen Shot 20

[2020-08-10 17:48] melissahenderson opened #80 "Add block-level monetization options to top shortcut bar when page/post is set to Split"
Customer feedback:

"If the editor lets insert a "monetization starts here" block (similiar to the editor in a blog on coil.com). "

<img width="748" alt="Screen Shot 2020-08-10 at 10 44 13 AM" src="https://user-images.githubusercontent.com/57110301/89813392-76503780-daf6-11ea-9b6e-97eb42987cb5.png">

Since the block-level settings are only applicable to Split Content articles, we could look in to

[2020-08-11 14:59] pragmatic-web commented on #79
We can definitely look into this.

[2020-08-12 20:40] MWcompeff commented on #79
I was able to change the number of words in front of the overlay by adding this to the function.php (or alternativly by using the snippets-plugin to inject this code). It also worked for the "only for coil members" overlay,

add_filter( 'excerpt_length', 'firstwd_excerpt_length' );
function firstwd_excerpt_length() { return 80;}

[2020-08-12 20:58] MWcompeff commented on #77
I have a similar problem. I am using Wordpress with the template "Generate Press". The blog is set to use excerpts, not the readmore-Tag.

1) When I surf as a Coil member onto a category feed (a page listing all current blog items of a certain category), monetized articles show as "the content in this article is for coil members only", although my coil browser addin is streaming.

2) When I click

[2020-08-12 21:11] melissahenderson commented on #77
@MWcompeff I believe the issue you're seeing is related to this: https://github.com/coilhq/coil-wordpress-plugin/issues/46.

Can you take a look at that issue and let us know?

[2020-08-13 23:05] melissahenderson opened #81 "Embedded videos in a show-for-monetized-users block won't auto-load in the Hemingway theme"
Videos embedded in a "Show for monetized users" block, within the Hemingway theme, need to be kicked before they appear.

1. Sign in to Coil.
2. Go to https://pghunfiltered.com/2020/07/27/maddy-judgeton-on-how-to-protest/
3. See the text, then extra white space at the bottom (shown in screenshot). That space should have the video.
4. Right-click on the page and select Inspect Element. Doing this w

[2020-08-13 23:14] melissahenderson commented on #77
Changing the CSS selectors did help some, but didn't fully resolve the issues. I've isolated a specific issue with the Hemingway theme and embedded videos, so I've opened https://github.com/coilhq/coil-wordpress-plugin/issues/81.

As far as Dee's original comment:

The "home" page is acting as designed, though we recognize that it's confusing. That issue is covered here: https://github.com/coilhq/

[2020-08-13 23:14] #77 closed, assigned to nobody

[2020-08-15 16:57] Naategh opened #82 "Ability to view hidden posts with the source of web page"
The plugin show content of posts that should be hidden in the source of the web page:

I'm using @traviscrist website to show a live demo:
View `view-source:https://coil12345.000webhostapp.com/2020/05/hello-world` then search for the `first`, You'll see the content of the post

[2020-08-17 16:16] pragmatic-web commented on #79
Great stuff @MWcompeff - you're right, this can just be changed as a standard WordPress filter so it's probably not something the Coil plugin should look to control.

Documentation here: https://developer.wordpress.org/reference/hooks/excerpt_length/

[2020-08-17 16:16] #79 closed, assigned to nobody

[2020-08-17 16:27] pragmatic-web commented on #82
Thanks for the issue @Naategh. This is related to #60 - in due course we plan to add more thorough content obfuscation using JS rather than CSS and verifying receipt of funds rather than relying on the API status alone. Closing the ticket on that basis.

[2020-08-17 16:27] #82 closed, assigned to nobody

[2020-08-17 21:38] melissahenderson opened #83 "Hide padlock and messaging when split post only has "always show" blocks"
If a post is set to Split Content, but all the content is public (always show), the Latest Posts page shouldn't show a padlock or the Coil messaging.

![Screen Shot 2020-08-17 at 12 09 03 PM](https://user-images.githubusercontent.com/57110301/90446811-e468a180-e096-11ea-8a3e-6f1ef76aeb85.png)

It looks like the plugin is only checking the Document-level Web Monetization setting and applying the pa

[2020-08-17 21:59] melissahenderson opened #84 "Messaging for "Hide for Monetized Users" is inaccurate when user is monetized"
Assumption: A page/post is set to Split Content and has a Hide for Monetized Users block.

As a web monetized user viewing the Latest Posts page, I see a message that the post has content for Coil Members only, when really the content is hidden from me.

<img width="673" alt="Screen Shot 2020-08-17 at 2 43 20 PM" src="https://user-images.githubusercontent.com/57110301/90448017-71145f00-e099-11ea-9

[2020-08-24 16:10] traviscrist commented on #84
@melissahenderson lets follow up with Fabian on this one, we may just need to update the ux a little.

[2020-08-24 16:12] traviscrist commented on #83
This seems like an edge case that should not be used. Closing this since it doesn't make sense to fix it.

[2020-08-24 16:12] #83 closed, assigned to nobody

[2020-08-24 16:22] traviscrist commented on #81
Let's triage this and see if we can determine why this is happening and how much effort it will be to fix.

[2020-08-25 16:24] pragmatic-web opened #85 "Update outbound link to Coil"
Currently the link takes a visitor to https://coil.com/learn-more

@fruehle requests we update this to https://coil.com/ as a better experience for users.

[2020-09-07 13:51] pragmatic-web commented on #55
Hi @melissahenderson @praghavaji sorry for the slow response. Confirmed - this behaviour is as expected.

@praghavaji might be worth adding this to the QA test plan to ensure it's captured?

[2020-09-07 13:52] praghavaji commented on #78
Jira ticket: https://jira.pragmatic.agency/browse/COISUP-5

[2020-09-07 13:59] praghavaji commented on #56
Jira ticket: https://jira.pragmatic.agency/browse/COISUP-6

[2020-09-28 18:21] melissahenderson opened #88 "The Grid and Gridbuilder plugins don't work well with the Coil plugin"
In an attempt to troubleshoot a different Coil plugin issue, customer switched to the paid Signify Pro theme. Content locking/unlocking is working correctly; however, on Members Only pages, "The Grid" and "Gridbuilder" plugins don't work well.

1. Go to: https://www.eloquilt.com/coil-test/ (just to get a feel for the landing page).
2. Go to Life in Quotations (https://www.eloquilt.com/life-in-quot

[2020-09-29 15:04] praghavaji commented on #55
Apologies again for the delay here. I've not been receiving notifications from Github nor Zenhub. Investigating that presently.

Ok, I'll get this added to the test plan and move this ticket to done.

Thanks!

[2020-09-29 15:04] #55 closed

[2020-09-29 15:05] praghavaji commented on #49
This is in pull-request. Should have that approved shortly.

[2020-09-29 15:05] praghavaji commented on #78
The pull request for this has been approved.

Who authorises a merge and deployment?

[2020-09-29 15:06] praghavaji commented on #44
As far as I can tell none of the feeds are respecting content restrictions. Who can I discuss this one with?

[2020-09-29 18:35] melissahenderson commented on #78
@traviscrist Can you answer the question above? Have we created a formal process for this yet?

[2020-09-30 13:39] praghavaji commented on #65
No issue type label here. I guess this is an enhancement?

[2020-09-30 16:28] traviscrist commented on #65
Ya I think it would be, added the label

[2020-09-30 16:39] traviscrist commented on #44
@praghavaji Are you sure about that. On the RDF one it seems to have the hidden content in it when compared to the others

[2020-10-01 09:36] praghavaji commented on #45
I need login credentials to the initial link above .. https://coil12345.000webhostapp.com/wp-admin/customize.php?autofocus%5Bpanel%5D=coil_customizer_settings_panel&return=https://coil12345.000webhostapp.com/wp-admin/admin.php?page=coil_settings

[2020-10-01 13:09] praghavaji commented on #50
I've successfully added the customizer elements here locally. Looking good.

I just noticed that the message used when rendering fully gated content within the cusomizer is the one from the fully gated excerpt message. That doesn't seem right.

Who can I discuss this with?

[2020-10-05 22:25] melissahenderson commented on #50
So long as the messaging itself is customizable for this iteration, I think we're good. We can tackle rewording default messaging in a different GH issue. @traviscrist Does this approach sound OK with you?

[2020-10-06 17:35] traviscrist commented on #50
@melissahenderson yep that sounds good, we can always just change the default ourselves. I think they key thing is that the default should be easily changed by us just changing a string in the codebase.

[2020-10-09 13:46] paulgibbs commented on #49
That PR is https://github.com/coilhq/coil-wordpress-plugin/pull/87 but it needs more work

[2020-10-09 14:31] paulgibbs commented on #49
Above merged in

[2020-10-09 14:31] #49 closed

[2020-10-13 16:08] melissahenderson opened #92 "Change links to help docs"
When Coil's new Help Center is rolled out (TBD) any links within the plugin to our help docs should be updated. We'll have redirects set up in the meantime.

This issue can't be worked until the new doc site is live.

[2020-10-14 15:55] melissahenderson opened #97 "Errors in plugin when WP ran CI checks"
Errors reported in the Coil plugin when WordPress ran their CI checks.

----

@wpcomvip-vipgoci-bot requested changes on this pull request.

phpcs scanning turned up:

🚫 5 errors

⚠️ 46 warnings

This bot provides automated PHP Linting and PHPCS scanning.

Posting will continue in further review(s)

In plugins/coil-web-monetization/Gruntfile.js:

+					'dist/blocks.style.build.min.css': [ 'dist/bl

[2020-10-19 16:49] melissahenderson commented on #97
Additional info:

AFAIK it does not block installation. This was the note we got back:

The CI tool showed some errors relating to output that's not escaped. This is a third party plugin, so I can merge it anyway, as long as you all understand that you have unescaped output in the plugin. That might be okay with you; it looks like some of that output is pre-defined and already escaped manually. Or

[2020-10-20 18:34] iamthomasbarrett commented on #65
COIL-152

[2020-11-03 11:03] iamthomasbarrett commented on #78
Following JIRA migration now here: COIL-151

[2020-11-03 11:03] pragmatic-web commented on #50
@traviscrist @melissahenderson propose pausing this one as it'll be overwritten by proposed UX updates anyway?

[2020-11-03 11:04] iamthomasbarrett commented on #50
Following JIRA migration ticket now here: COIL-153

[2020-11-03 11:09] iamthomasbarrett commented on #56
Following JIRA migration ticket is: COIL-154

[2020-11-03 13:36] iamthomasbarrett commented on #46
COIL-155

[2020-11-03 13:54] melissahenderson commented on #50
@pragmatic-web @traviscrist  Makes sense. I agree.

[2020-11-09 14:31] #56 closed

[2020-11-09 14:31] #65 closed

[2020-11-09 14:31] #78 closed, assigned to pragmatictom

[2020-11-09 20:09] melissahenderson opened #108 "Plugin compatibility with Elementor page builder"
We have a customer who's trying to implement Web Monetization on his site and is running in to a number of issues. I'm wondering whether our plugin is compatible with Elementor page builder.

https://vibefar.com/

After some testing, we changed the CSS Selectors to .container article, which allowed the gray members-only box to appear on appropriate posts. However, there's still other issues. The C

[2020-11-10 13:45] iamthomasbarrett commented on #85
COIL-156

[2020-11-10 13:52] #46 closed

[2020-11-12 09:42] iamthomasbarrett commented on #97
COIL-157

[2020-11-16 10:26] #85 closed, assigned to nobody

[2020-11-19 10:23] pragmatic-web opened #110 "Extend Page builder support"
The current Coil plugin is primarily designed to support Gutenberg with graceful degradation of most functionality for the Classic Editor.

However there are a number of page builder plugins that are in common use for WordPress sites and creators and publishers who wish to use the Coil plugin may be blocked from using the Coil plugin due to page builder incompatibility. Common 3rd party page build

[2021-01-05 15:22] natewong92 opened #111 "Plugin activation breaks site"
Hello, I'm working on integrating the Coil WordPress Plugin on Wordpress. Whenever the plugin is active, it seems to break the website.

I'm using the CoverNews Pro theme.

An active plugin results in a blank homepage with a loading/buffering wheel.

Any advice is welcome. Let me know what other information you'd need from me.

Thanks,

[2021-01-07 17:42] traviscrist commented on #111
@natewong92 thanks for reporting the issue, is there a specific page building you are using?

[2021-01-13 23:52] natewong92 commented on #111
Hey @traviscrist, I'm not sure what you mean by page building.

[2021-01-14 16:39] pragmatic-web commented on #111
Hi @natewong92 - David here, our team built the plugin. By page builder, we mean are you using:

- WordPress classic editor
- Gutenberg
- Elementor
- Divi
- Beaver Builder
- WP Bakery
- etc

David

[2021-01-14 17:32] natewong92 commented on #111
@pragmatic-web Thanks for dumbing it down.

Just using the Wordpress Classic Editor

[2021-01-14 17:48] pragmatic-web commented on #111
@natewong92 thanks. OK cool, thanks that's weird then as the classic editor is absolutely supported. In order to diagnose further, would you mind emailing us (we don't want to ask for this info on a public space)

Email to: support@coil.com
Subject: RE: Github Issue 111 FAO Travis
Body: Can you use this guide to copy the 'Info' page contents from your Site Health section and paste it in?

Thanks!

[2021-01-14 18:06] natewong92 commented on #111
@pragmatic-web could you include the guide for the info you're looking for?

[2021-01-14 18:16] pragmatic-web commented on #111
@natewong92 sorry. End of day brain (I'm in the UK). Here you go: https://yoast.com/wordpress-site-health/

Just shout if you can't find it or need a hand in any way.

[2021-01-18 21:14] natewong92 commented on #111
I think this is what you're looking for?
Sorry it took so long, accidentally sent it to the wrong email.

### wp-core ###

version: 5.6
site_language: en_US
user_language: en_US
timezone: America/Chicago
permalink: /nordly/%postname%/
https_status: true
multisite: false
user_registration: 0
blog_public: 1
default_comment_status: undefined
environment_type: production
user_count: 122
dotorg_communi

[2021-01-18 21:16] natewong92 commented on #111
@pragmatic-web, sent an email. let me know if this helps.

Thanks,

[2021-01-18 21:26] pragmatic-web commented on #111
Got it - thanks. Just working through it. I'll be back.

[2021-01-20 14:21] pughmatic commented on #111
Hi @natewong92,
We created a ticket for this and one of our developers will look into this issue. i aim to have an update with you on Monday. Thanks for your patience.
Kind regards,
Ian

[2021-01-25 10:08] iamthomasbarrett commented on #108
JIRA ticket created: COIL-158

[2021-01-25 10:12] iamthomasbarrett commented on #111
COIL-159

[2021-01-26 23:35] melissahenderson opened #112 "Voluntary donation message not appearing for GeneratePress theme"
Using the GeneratePress theme, I can only see the voluntary donation message on Monetized and Public posts when I am in the WordPress Customizer as an admin. The message never appears when I view a Monetized and Public post as a user who is not signed in to the Coil extension. I've tried a number of different selector combinations to no avail.

(This issue was reported to us by a customer, but I'v

[2021-01-27 19:06] natewong92 commented on #111
Hey there, Just checking to see if there are any updates.

Thanks!

[2021-01-28 10:20] iamthomasbarrett commented on #111
Padlock filter on the title expects 2 arguments with explicit post ID.
https://developer.wordpress.org/reference/hooks/the_title/

PHP error prevents page from loading completely, meaning the loading overlay created by the theme doesn't get dismissed.

Have made 2nd argument optional. Pull in implicit post ID and fallback on no padlock if none found.

[2021-01-28 10:52] iamthomasbarrett commented on #112
COIL-160

[2021-01-28 16:35] #111 closed, assigned to pragmatic-web

[2021-01-28 16:43] iamthomasbarrett commented on #112
The out-of-the-box gated content selector is `.content-area .entry-content`.
For GeneratePress, change it to `.site-content .entry-content`.

This setting can be found under Coil > Global Settings > Advanced Config > CSS Selectors

[2021-01-28 17:45] melissahenderson commented on #112
I'm checking in Firefox, Chrome, and Safari and the message isn't appearing after setting my selectors to what you've suggested. I also purged the WP Engine cache.

[2021-02-01 11:40] iamthomasbarrett commented on #108
Example pages appear to have been removed.

To investigate, ideally we would have an exact setup - with plugin settings and markup generated by the page builder.

Are we able to get the pages re-instated (and a copy of their css selector setting)?

[2021-02-03 18:22] melissahenderson opened #114 "Coil plugin incompatible with Co-Authors Plus plugin"
We received a report that the Author pages on A LIST APART stopped appearing after installing the Coil WP plugin. When they logged in to the WP Admin, they saw this on the Author page:

![noname.png](https://images.zenhubusercontent.com/5db7323a1484010001787d52/11c33fd7-d9e8-418e-8ab1-1e6babbbb3c3)

Their WP Concierge fixed the issue and reported:

The Coil plugin added recently doesn't seem to pl

[2021-02-03 22:22] melissahenderson opened #115 "Editor enounters unexpected error when trying to add a new article"
User is trying to add a new article to A List Apart (Add New under Articles) and tries to edit the body of the article, they receive "The editor has encountered an unexpected error." This occurs immediately after they enter the body portion of the article before they can put any content in.

After that, they can only attempt to recover (which just gives them the article with the title) or start a

[2021-02-08 04:19] jamminjames opened #116 "'Message' popups do not show outside of 'customize theme', no matter what CSS selectors are used"
I have tried every CSS selector combo I can think of, drawing from the "inspector" in the browser, but the "message" to the viewer does not show, unless I'm in the WP "Customize theme" feature.

I have the "GeneratePress" theme, and have tried the suggested CSS selectors. I've also tried the Twenty-Twenty theme, with all other plugins deactivated, and still the “message” only shows while in Appear

[2021-02-08 11:03] iamthomasbarrett commented on #112
Can we get a copy of the site health output. Please email to support@coil.com.

See this Yoast article for details: https://yoast.com/wordpress-site-health/

That will help us to try setting up a copy of the broken setup and replicate the issue.

[2021-02-08 11:58] iamthomasbarrett commented on #112
For sake of notifications - re: previous message. Please email support@coil.com with health output, do not reply to this message/comment.

Apologies for any confusion.

Thank you.

[2021-02-09 13:34] marcperel commented on #114
This issue is related to #61

[2021-02-15 08:54] #58 closed

[2021-02-16 15:10] marcperel commented on #116
@jamminjames thanks for bringing this up.

We are going to release an update for the issue, but in the mean time what you can do is this:

- Go to Appearance > Customize
- Click on Coil Web Monetization > Options
- Check OFF Show a donation bar on posts that are monetized and public.
- Click Publish
- Check ON Show a donation bar on posts that are monetized and public.
- Click Publish

That should

[2021-02-16 21:53] jamminjames commented on #116
That worked, thanks!

[2021-02-17 07:43] #116 closed, assigned to nobody

[2021-02-18 07:46] #112 closed, assigned to nobody

[2021-02-18 07:51] #61 closed

[2021-02-18 14:49] #114 closed, assigned to JoblersTune

[2021-02-18 14:49] #115 closed, assigned to JoblersTune

[2021-02-23 10:52] #97 closed, assigned to marcperel

[2021-02-23 10:53] #110 closed, assigned to nobody

[2021-02-23 10:54] #84 closed, assigned to nobody

[2021-02-23 10:55] #108 closed, assigned to nobody

[2021-02-23 10:57] #88 closed, assigned to nobody

[2021-02-23 10:59] #92 closed, assigned to JoblersTune

[2021-02-23 11:02] #81 closed, assigned to nobody

[2021-02-23 11:15] #80 closed, assigned to nobody

[2021-02-23 11:19] #70 closed

[2021-02-23 11:19] #75 closed, assigned to nobody

[2021-02-23 11:19] #63 closed

[2021-02-23 11:23] #59 closed

[2021-02-23 11:24] marcperel commented on #59
Fixed in PR 126

[2021-02-23 11:25] marcperel commented on #52
We are going to close this as we have plans to update the plugin with new designs.

[2021-02-23 11:25] #52 closed

[2021-02-23 11:27] marcperel commented on #60
Fixed

[2021-02-23 11:27] #60 closed

[2021-02-23 11:28] #57 closed

[2021-02-23 11:29] #54 closed

[2021-02-23 11:30] #51 closed

[2021-02-23 11:31] #53 closed

[2021-02-23 11:32] #50 closed

[2021-02-23 11:35] #44 closed

[2021-02-23 11:35] #45 closed

[2021-02-25 11:55] marcperel commented on #111
@natewong92 Just to bring you up to date on this, this fix is part of the release we'll be making to the plugin next week on the WordPress.org repo.

[2021-03-31 09:23] consistentbenny opened #141 "Integration to Enable the Setup of a OAuth "Login with Coil" Function directly through the Plugin"
I am currently in the last step of my Grant for the Web project, which is enabling the "Login with Coil" functionality via OAuth on my WordPress website. While I will probably be able to find a solution, based on my research it looks like it won't be easy and potentially quite costly, if the plugin I found is not offering what I need in its free tier.

It would be very useful, if the functionality